# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/
.env*/

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data files (optional: ignore large raw/clean data)
raw/
clean/
*.csv
*.xlsx
*.xls
